p {
	font-size: 2vh;
}

.lead {
	font-size: 3vh;
}

.display-4 {
	margin-top: -0.5rem;
}

.nav-link {
	color: black;
}

.card-text {
	opacity: 0.6;
}

.card-img-top {
	object-fit: cover;  
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.fade-in
{
    opacity:0;
}
div.hidden {
    display: none;
}